<!--Template used for TerriaJS to display information about flood depth-->
<table class="cesium-infoBox-defaultTable">
  <tbody>
  <tr>
    <td style="vertical-align: middle;"><b>Water Depth (m)</b></td>
    <!-- Double-escaped so that after python string formatting it is still mustache formatted. -->
    <td>{{{{{layer_name}}}}}</td>
  </tr>
  <tr>
    <td style="vertical-align: middle;"><b>Flood Scenario ID</b></td>
    <td>{flood_scenario_id}</td>
  </tr>
  </tbody>
</table>
